<!DOCTYPE html>
<html lang="en">
<head>
  <title>Github.IO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="libs/angular-ui-tree/dist/angular-ui-tree.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- Angular libraries -->
  <script type="text/javascript" src="libs/angular/angular.min.js"></script>
  <script type="text/javascript" src="libs/angular-ui-tree/dist/angular-ui-tree.js"></script>
  <script type="text/javascript" src="js/treeItems.js"></script>
</head>
<body ng-app="coryBlog">
   <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="#">saylesc</a>
       </div>
       <ul class="nav navbar-nav">
         <li><a href="http://saylesc.github.io/">Home</a></li>
         <li class="active"><a href="#">GitHub-Fun</a></li>
       </ul>
     </div>
   </nav>
   <div class="container">
      <div class="jumbotron">
         <h2>Tech Fun</h2>
         <div>
         	<p>
         		Here are a few technologies that interest me - organized using angular-ui-tree. Feel free to drag things around to reorganize them. 
         	</p>
         	<div>
         		<!-- Tree fun -->
               <div ui-tree ng-controller="CoryTechController">
                  <ol ui-tree-nodes="" ng-model="treeList">
                     <li ng-repeat="item in treeList" ui-tree-node>
                        <div ui-tree-handle>
                          {{item.title}}
                        </div>
                        <ol ui-tree-nodes="" ng-model="item.nodes">
                           <li ng-repeat="subItem in item.nodes" ui-tree-node>
                              <div ui-tree-handle>
                                 {{subItem.title}}
                              </div>
                           </li>
                        </ol>
                     </li>
                  </ol>
            	</div>
         </div>
     </div>
   </div>
</body>
</html>
