<!DOCTYPE html>
<html lang="en">
<head>
  <title>saylesc blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="libs/angular-ui-tree/dist/angular-ui-tree.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- Angular libraries -->
  <script type="text/javascript" src="libs/angular/angular.min.js"></script>
  <script type="text/javascript" src="libs/angular-ui-tree/dist/angular-ui-tree.js"></script>
  <script type="text/javascript" src="js/treeItems.js"></script>
</head>
<body ng-app="coryBlog">
   <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="#">saylesc</a>
       </div>
       <ul class="nav navbar-nav">
         <li class="active"><a href="#">Home</a></li>
         <li><a href="#">Blog</a></li>
         <li><a href="#">Family</a></li>
       </ul>
     </div>
   </nav>
   <div class="container">
      <div class="jumbotron">
         <h1>Welcome to my blog</h1>
       
         <!-- Initiate the tree -->
         <div ui-tree ng-controller="CoryTreeController">
            <ol ui-tree-nodes="" ng-model="treeList">
               <li ng-repeat="item in treeList" ui-tree-node>
                  <div ui-tree-handle>
                    {{item.title}}
                  </div>
                  <ol ui-tree-nodes="" ng-model="item.nodes">
                     <li ng-repeat="subItem in item.nodes" ui-tree-node>
                        <div ui-tree-handle>
                           {{subItem.title}}
                        </div>
                     </li>
                  </ol>
               </li>
            </ol>
         </div>
       
       <div>
         <h3><a href="http://www.rei.com/WishlistView?id=c10d818b-7c9d-4d58-b6c6-eaf016c0c565">REI Wishlist</a></h3>
       </div>
     </div>
   </div>
</body>
</html>
